/*
  u-basscss, github.com/tiffon/u-basscss
  fork from http://basscss.com
  MIT License
*/

.ub-h1 { font-size: var(--h1) }
.ub-h2 { font-size: var(--h2) }
.ub-h3 { font-size: var(--h3) }
.ub-h4 { font-size: var(--h4) }
.ub-h5 { font-size: var(--h5) }
.ub-h6 { font-size: var(--h6) }

:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
}
