/*
  u-basscss, github.com/tiffon/u-basscss
  fork from http://basscss.com
  MIT License
*/

.u-relative { position: relative }
.u-absolute { position: absolute }
.u-fixed    { position: fixed }

.u-top-0    { top: 0 }
.u-right-0  { right: 0 }
.u-bottom-0 { bottom: 0 }
.u-left-0   { left: 0 }

.u-z1 { z-index: var(--z1) }
.u-z2 { z-index: var(--z2) }
.u-z3 { z-index: var(--z3) }
.u-z4 { z-index: var(--z4) }

:root {
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;
}
